//Colores//
$color-verde: rgb(15, 196, 15);
$color-amarillo: rgb(219, 243, 3);
$color-azul: rgb(0, 0, 255);
$color-rojo: rgb(245, 0, 0);
$color-mora: rgb(179, 2, 179);
$color-texto: rgb(255, 255, 255);
//Tamaño de varaibles usadas en el mixins//
$alto: 50px;
$ancho: 50px;
